[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "==0.28"
pandas = "*"
chromadb = "*"
pytest = "*"
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
aiohttp = "*"
langchain = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
